
    @font-face {
      font-family: 'Croc';
      src: url('../resources/fonts/Croc-Light__W/Croc-Light__W.eot');
      src:
              url('../resources/fonts/Croc-Light__W/Croc-Light__W.eot?#iefix') format('embedded-opentype'),
              url('../resources/fonts/Croc-Light__W/Croc-Light__W.woff2') format('woff2'),
              url('../resources/fonts/Croc-Light__W/Croc-Light__W.woff') format('woff'),
              url('../resources/fonts/Croc-Light__W/Croc-Light__W.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: 'Croc';
      src: url('../resources/fonts/Croc-Bold__W/Croc-Bold__W.eot');
      src:
              url('../resources/fonts/Croc-Bold__W/Croc-Bold__W.eot?#iefix') format('embedded-opentype'),
              url('../resources/fonts/Croc-Bold__W/Croc-Bold__W.woff2') format('woff2'),
              url('../resources/fonts/Croc-Bold__W/Croc-Bold__W.woff') format('woff'),
              url('../resources/fonts/Croc-Bold__W/Croc-Bold__W.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }
    @font-face {
      font-family: 'Croc';
      src: url('../resources/fonts/Croc-Regular__W//Croc-Regular__W.eot');
      src:
              url('../resources/fonts/Croc-Regular__W/Croc-Regular__W.eot?#iefix') format('embedded-opentype'),
              url('../resources/fonts/Croc-Regular__W/Croc-Regular__W.woff2') format('woff2'),
              url('../resources/fonts/Croc-Regular__W/Croc-Regular__W.woff') format('woff'),
              url('../resources/fonts/Croc-Regular__W/Croc-Regular__W.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }


* {
    box-sizing: border-box;
    font-family: Croc;
}
body {
    margin: 0;
    padding: 0;

}

header{
    height: 50px;
    background: #00A460 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.logo_text {
    position: absolute;
    top: -11px;
    left: -23px;
    width: 139px;
    height: 72px;
}
main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.title {
    color: #68676C;
    font-size: 28px;
    margin-top: -20px;
}

.sub_title{
    color: #68676C;
    font-size: 14px;
    margin-top: -20px;
}
.title_box{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 62px;
}
.tasks-big{
    width: 111px;
    height: 111px;
}
.content {
    margin-top: 40px;   
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.content-title{
    width: 100%;
    text-align: center;
    font: normal normal normal 12px/17px Croc;
    letter-spacing: 0px;
    color: #00A460;
}
.content-sub-title{
    width: 100%;
    text-align: center;
    font: normal normal normal 8px/17px Croc;
    letter-spacing: 0px;
    color: #00A460;
    margin-top: -10px;
}
.auth_btn{
    width: 302px;
    height: 81px;
    border: 0;
    background-color: #00a460;
    border-radius: 5px;
    margin-bottom: 30px;
    cursor: pointer;
}
.text_btn{
    text-align: center;
    font: normal normal bold 23px/33px Croc;
    letter-spacing: 0px;
    color: #fff;
}
.task{
    width: 90%;
    display: flex;   
    flex-wrap: wrap;
    justify-content: center;

    
}
.task_title{
    width: 100%;
    text-align: left;
    font: normal normal normal 23px/33px Croc;
    letter-spacing: 0px;
    color: #68676C;
    opacity: 1;

}
.task_q{
    text-align: left;
    margin-top: 0px;
    width: 100%;
    font: normal normal normal 14px/20px Croc;
    letter-spacing: 0px;
    opacity: 1;
}
.true{
    color: #00A460;
}
.title_finish{
    text-align: center;
    font: normal normal normal 18px/26px Croc;
    letter-spacing: 0px;
    color: #68676C;
    opacity: 1;
}
.goal{
    width: 255px;
    height: 255px;
}
.btn_login {
    background: #00A460 0% 0% no-repeat padding-box;
    border-radius: 4px;
    border: 0;
    width: 105px;
    height: 26px;
}
.text_in_btn{
    font: normal normal bold 14px/22px Croc;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.6;
}
.login_inp,
.password_inp {
    width: 85%;
    margin-top: 30px;
    border: 2px solid #00A460;
    border-radius: 8px;
    height: 30px;
    padding-left: 10px;
    font: normal normal bold 14px/22px Croc;
}
.form_login{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.btn_div{
    margin-top: 30px;
    width: 85%;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}
.form_center{
    width: 100%;
    display: flex;
    justify-content: center;
}
.pass2{
    margin-top: 13px;
}
.logo {
    width: 42px;
    height: 42px;
    border-radius: 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_img{
    width: 33px;
    height: 33px;
}
.href_to_reg{
    margin-top: 10px;
    padding-right: 2px;
    width: 100%;
    text-align: right;
    text-decoration: none;
    color: #00A460;
}
.login_inputs {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_inp_mail{
    width: 30%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: none;
}
.login_name {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.leran_more {
    font-size: 19px;
}